@model List<UserViewModel>
@{
    ViewData["Title"] = "Users";
}
<h1>Users Dashboard</h1>

<p>
    <a class="btn btn-primary" asp-action="Add">Add New User</a>
</p>

<table class="table-responsive text-muted">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>IsAdmin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.IsAdmin</td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <form id="deleteForm" method="post" asp-action="Delete" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete this user?')">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>