@model MoviesViewModel

@{
    ViewData["Title"] = "Movies";
}

<div class="container">
    <h1>Movies</h1>
    <div class="row mb-4">
        <div class="col-md-6">
            <form asp-controller="Movie" asp-action="All" method="get">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input asp-for="@Model.SearchName" type="text" class="form-control" placeholder="Search by Name">
                    </div>
                    <div class="form-group col-md-6">
                        <select asp-for="@Model.SelectedGenreId" class="form-control">
                            <option value="">All Genres</option>
                            @foreach (var genre in Model.Genres)
                            {
                                <option value="@genre.Id">@genre.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">Filter</button>
                        <button asp-controller="Movie" asp-action="Clear" class="btn btn-primary">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row align-items-end">
        @if(Model.Movies.Count() > 0)
        {
            foreach (var movie in Model.Movies)
            {
                <div class="col-sm-6 col-md-4 col-lg-3">
                <partial name="_MovieCardPartial", model="@movie" />
                </div>
            }
        }
        else {
            <h4>No movies match your criteria</h4>
        }
    </div>
</div>