@model List<ShowtimeDatailViewModel>
@{
    ViewData["Title"] = "Showtimes";
}
<h1>Showtimes Dashboard</h1>

<p>
    <a class="btn btn-primary" asp-action="Add">Add New Showtime</a>
</p>

<table class="table-bordered text-muted">
    <thead>
        <tr>
            <th class="px-2">Cinema</th>
            <th class="px-2">Movie</th>
            <th class="px-2">Ticket price</th>
            <th class="px-2">Start time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var showtime in Model)
        {
            <tr>
                <td class="px-2">@showtime.CinemaName</td>
                <td class="px-2">@showtime.MovieName</td>
                <td class="px-2">@showtime.TicketPrice BGN.</td>
                <td class="px-2">@showtime.StartTime.ToString()</td>
                <td class="px-2">
                    <a class="btn btn-info w-100" asp-action="Edit" asp-route-id="@showtime.Id">Edit</a>
                    <form id="deleteForm" method="post" asp-action="Delete" asp-route-id="@showtime.Id" onclick="return confirm('Are you sure you want to delete this showtime?')">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>